<p-tabView>
    <p-tabPanel [header]="'Attribute' | translate" leftIcon="fa fa-info" [tooltip]="'Promotion Details' | translate">

        <div class="row" *ngIf="isLoading">

            <div class="col-md-12">
                <div class="row" style="height: 500px;">
                    <div class="col-12 text-center">
                        <app-loader></app-loader>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="!isLoading">
            <div class="row p-fluid">
              

                <div class="col-12 pt-1">
                    <div class="p-field">
                        <label>{{'Code' | translate}} * </label>
                        <input type="text" pInputText [(ngModel)]="model.salesManAttributeCode" [style]="{'text-transform': 'uppercase'}">
                    </div>
                </div>

                <div class="col-12 pt-1">
                    <div class="p-field">
                        <label>{{'Name Arabic' | translate}} * </label>
                        <input type="text" pInputText [(ngModel)]="model.salesManAttributeNameAr">
                    </div>
                </div>
            
                <div class="col-12 pt-1">
                    <div class="p-field">
                        <label>{{'Name English' | translate}} *</label>
                        <input type="text" pInputText [(ngModel)]="model.salesManAttributeNameEn">
                    </div>
                </div>

                <div class="col-12  pt-1">
                    <div class="p-field">
                        <label style="width: 100%;">{{'Is Active' | translate}}</label>
                        <p-inputSwitch [(ngModel)]="model.isActive"></p-inputSwitch>
                    </div>
                </div>

                <div class="col-12  pt-1">
                    <div class="p-field">
                        <label style="width: 100%;">{{'Is Custom' | translate}}</label>
                        <p-inputSwitch [(ngModel)]="model.isCustom" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
            
                <div class="col-12 pt-1">
                    <div class="p-field">
                        <label>{{'Desc' | translate}}</label>
                        <textarea [(ngModel)]="model.salesManAttributeDesc" rows="3" pInputTextarea></textarea>
                    </div>
                </div>
    
                


            </div>
            <div class="row pt-4" *ngIf="editMode!='v'">
                <div class="col-12">
                    <p-button [label]="'Save Attribute' | translate" icon="pi pi-save" [loading]="isLoading"
                        (onClick)="Save()">
                    </p-button>

                    
                </div>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel [header]="'Clients' | translate" leftIcon="fa fa-shopping-cart" [tooltip]="'Items Criteria' | translate" 
        *ngIf="model.salesManAttributeId>0">

        <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm" dataKey="salesManCustomId"
            [value]="PromtionCriteriaSalesManAttrCustomList" [(selection)]="PromtionCriteriaSalesManAttrCustomModel" sortField="salesManCustomId"
            [showCurrentPageReport]="false" [paginator]="false" [rows]="1000" [lazy]="true"
            [totalRecords]="PromtionCriteriaSalesManAttrCustomList.length" responsiveLayout="scroll">


            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12" *ngIf="editMode!='v'">
                        <div class="d-flex justify-content-start">


                            <p-button icon="fa fa-plus" [pTooltip]="'New Line' | translate"
                                (onClick)="addLine()"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-edit" [pTooltip]="'Edit Line' | translate"
                                (onClick)="editLine()" *ngIf="PromtionCriteriaSalesManAttrCustomModel.salesManCustomId>0"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-times" [pTooltip]="'Delete Line' | translate"
                                (onClick)="deleteLine()" *ngIf="PromtionCriteriaSalesManAttrCustomModel.salesManCustomId>0"></p-button>
                            <span class="pl-1"></span>


                        </div>
                    </div>

                </div>


            </ng-template>

            <ng-template pTemplate="header">
                <tr>

                    <th pSortableColumn="valueFrom">{{'Value' | translate}}
                        <p-sortIcon field="valueFrom"></p-sortIcon>
                    </th>

                   

                    <th pSortableColumn="isActive" [width]="'100px'">{{'IsActive' | translate}}
                        <p-sortIcon field="isActive"></p-sortIcon>
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pContextMenuRow]="row" [pSelectableRow]="row">

                
                    <td [innerHTML]="row.valueFrom"></td>
              
                    <td>
                        <p-tag styleClass="mr-2" severity="success" [value]="'Yes'" *ngIf="row.isActive==true"></p-tag>
                        <p-tag severity="danger" [value]="'No'" *ngIf="row.isActive==false"></p-tag>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">{{'No Data found' |translate}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>


</p-tabView>


<p-dialog [header]="'Add Item'" [draggable]="false" [(visible)]="showItems" [style]="{width: '400px'}">
    <div class="row p-fluid">


        

        <div class="col-12  pt-1" >
            <div class="p-field">
                <label>{{'Value' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="PromtionCriteriaSalesManAttrCustomModel.valueFrom"
                        [placeholder]="'Code'" [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                        (click)="choose_SalesMan()"></button>
                 
                </div>
            </div>
        </div>
      

        <div class="col-12  pt-1">
            <div class="p-field">
                <label style="width: 100%;">{{'Is Active' | translate}}</label>
                <p-inputSwitch [(ngModel)]="PromtionCriteriaSalesManAttrCustomModel.isActive"></p-inputSwitch>
            </div>
        </div>

    </div>
    <ng-template pTemplate="footer">
        <p-button [label]="'Save'" (click)="saveItem()" icon="pi pi-check"
            [loading]="isItemLoading" styleClass="p-button-sm">
        </p-button>
    </ng-template>
</p-dialog>



