<div class="row" *ngIf="isLoading">

    <div class="col-md-12">
        <div class="row" style="height: 500px;">
            <div class="col-12 text-center">
                <app-loader></app-loader>
            </div>
        </div>
    </div>

</div>

<div class="row p-fluid" *ngIf="!isLoading">


    <div class="col-12  pt-1">
        <div class="p-field">
            <label>{{'Upload Date' | translate}}</label>
            <p-calendar [disabled]="false" dateFormat="dd/mm/yy" appendTo="body" inputId="time" [disabled]="true"
                [showTime]="false" [showSeconds]="false" [(ngModel)]="model.uploadDate">
            </p-calendar>
        </div>
    </div>

   

    <div class="col-12  pt-1">
        <div class="p-field">
            <label>{{'Journey File' | translate}}</label>


            <p-fileUpload name="files[]" #form url="uploader/add" customUpload="true"
                (uploadHandler)="myUploader($event,form)" multiple="multiple" [chooseLabel]="'Choose' | translate"
                accept=".csv,.xls,.xlsx" [auto]="true" maxFileSize="1000000">
                <ng-template pTemplate="content" *ngIf="isUploadDone">
                    <div class="d-flex justify-content-start">
                        <p-tag styleClass="mr-2" severity="success" [value]="'File is ready' | translate"></p-tag>
                    </div>
                </ng-template>
            </p-fileUpload>


        </div>
    </div>
    
</div>
<div class="row pt-5" *ngIf="!isLoading">
    <div class="col-12  pt-1">
        <p-button [label]="'Save' | translate"  icon="pi pi-save"
            [loading]="isLoading" (onClick)="save()">
        </p-button>
    </div>
</div>