<p-tieredMenu #menu [model]="menuItems" [popup]="true"></p-tieredMenu>
<div class="page">
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="row p-fluid" *ngIf="!isLoading">

                        <div class="col-12">

                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>

                                <input type="text" [(ngModel)]="searchModel.Term" [disabled]="true" (keydown)="smartFilter($event)"
                                    pInputText >

                                <button type="button" pButton pRipple icon="pi pi-refresh" (click)="reloadFilter()"
                                    styleClass="p-button-warn"></button>
                                <button type="button" pButton pRipple icon="pi pi-filter" (click)="advanced=!advanced"
                                    styleClass="p-button-warn"></button>
                                <button #btn type="button" pButton icon="pi pi-fw pi-list" label="Actions"
                                    (click)="menu.toggle($event)"></button>

                            </div>

                        </div>


                    </div>
                    <div class="row p-fluid">

                        <div class="col-12">
                            <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm"
                                dataKey="notificationId" 
                                [value]="gridModel.data" 
                                [(selection)]="selected"
                                sortField="notificationId" 
                                sortOrder="desc"
                                [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries' |translate"
                                [showCurrentPageReport]="true" [lazy]="true" (onLazyLoad)="filter($event)"
                                [paginator]="true" [rows]="searchModel.Take" [(first)]="first"
                                [totalRecords]="gridModel.total" [loading]="isLoading" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>


                                        <th pSortableColumn="notificationDateTime" [width]="'150px'">{{'notification
                                            Date' |
                                            translate}}
                                            <p-sortIcon field="notificationDateTime"></p-sortIcon>
                                        </th>


                                        <th pSortableColumn="priorityName" [width]="'110px'">{{'Target' | translate}}
                                            <p-sortIcon field="priorityName"></p-sortIcon>
                                        </th>


                                        <th pSortableColumn="notificationTypeName">{{'Notification Type' | translate}}
                                            <p-sortIcon field="notificationTypeName"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="userGroupName" [width]="'110px'">{{'User Group' |
                                            translate}}
                                            <p-sortIcon field="userGroupName"></p-sortIcon>
                                        </th>


                                        <th pSortableColumn="userCount" [width]="'100px'">{{'All' |
                                            translate}}
                                            <p-sortIcon field="userCount"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="readed" [width]="'120px'">{{'Readed' | translate}}
                                            <p-sortIcon field="readed"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="notReaded" [width]="'120px'">{{'Not Readed' | translate}}
                                            <p-sortIcon field="notReaded"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="performance" [width]="'150px'">{{'Progress' | translate}}
                                         
                                        </th>

                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-row>
                                    <tr [pContextMenuRow]="row" [pSelectableRow]="row"
                                      >


                                        <td
                                            [innerHTML]="row.notificationDateTime | date:'yyyy-MM-dd hh:mm:ss' | highlightSearch: searchModel.Term">
                                        </td>

                                        <td >
                                            <span [style]="'color:' +row.priorityColor">
                                                {{row.priorityName}}
                                            </span>
                                        </td>
                                        <td [innerHTML]="row.notificationTypeName | highlightSearch: searchModel.Term">
                                        </td>

                                        <td [innerHTML]="row.userGroupName  | highlightSearch: searchModel.Term">
                                        </td>

                                        <td>{{ row.userCount}}</td>
                                        <td>{{ row.readed}}</td>
                                        <td>{{ row.notReaded}}</td>


                                        <td>
                                            <div class="form-group mb-0">
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar bg-green" role="progressbar"
                                                        aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"
                                                        [style]="'width:'+(row.performance)+'%;'">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="7">{{'No Data found' |translate}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog [header]="'Filter' |translate" [modal]="false" [draggable]="true" [style]="{width: '300px'}"
    [(visible)]="advanced" position="right" [contentStyle]="{'overflow':'visible'}">


    <div class="row p-fluid">



        <div class="col-12">
            <label>{{'Notification Date' | translate}}</label>
            <p-calendar [(ngModel)]="searchModel.notificationDate" [showTime]="true" [showSeconds]="true" inputId="time">
            </p-calendar>
        </div>


    
        <div class="col-12">
            <label>{{'Notification Type' | translate}}</label>
            <p-dropdown [options]="notificationTypes" [filter]="false"
                [(ngModel)]="searchModel.notificationTypeId" [selectId]="searchModel.notificationTypeId"
                [filterMatchMode]="'contains'" [editable]="false" [filterBy]="'name'" [optionLabel]="'name'"
                [optionValue]="'id'">
            </p-dropdown>
        </div>

        <div class="col-12">
            <label>{{'User Group' | translate}}</label>
            <p-dropdown [options]="userGroups" [filter]="false"
                [(ngModel)]="searchModel.userGroupId" [selectId]="searchModel.userGroupId"
                [filterMatchMode]="'contains'" [editable]="false" [filterBy]="'name'" [optionLabel]="'name'"
                [optionValue]="'id'">
            </p-dropdown>
        </div>

        <div class="col-12">
            <label>{{'Priority Type' | translate}}</label>
            <p-dropdown [options]="priorities" [filter]="false"
                [(ngModel)]="searchModel.priorityId" [selectId]="searchModel.priorityId"
                [filterMatchMode]="'contains'" [editable]="false" [filterBy]="'name'" [optionLabel]="'name'"
                [optionValue]="'id'">
            </p-dropdown>
        </div>


    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" icon="pi pi-filter-slash" (click)="clearFilter()"
            class="p-button-rounded p-button-text p-button-plain"></button>
        <p-button [label]="'Filter' | translate" icon="pi pi-search" (onClick)="advancedFilter()"
            styleClass="p-button-sm"></p-button>
    </ng-template>

</p-dialog>