<div class="edit-promotion">
<p-tabView  [(activeIndex)]="activeIndex"  (activeIndexChange)="onactiveIndexChange($event)">
    <p-tabPanel [header]="'Details' | translate" leftIcon="fa fa-info" [tooltip]="'Promotion Details' | translate">

        <div class="row" *ngIf="isLoading">

            <div class="col-md-12">
                <div class="row" style="height: 500px;">
                    <div class="col-12 text-center">
                        <app-loader></app-loader>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="!isLoading">
            <div class="row p-fluid">
                <div class="col-3 pt-1">



                    <div class="p-field">
                        <label>{{PromotionModel.promotionCategoryId != 4 ?'Promotion Code' :'Bundle Code' | translate}}</label> <span class="red">*</span>


                        <div class="p-inputgroup">

                          
                            <input type="text" pInputText [placeholder]=" PromotionModel.promotionCategoryId != 4 ?'Promotion Code' :'Bundle Code' | translate"
                                [(ngModel)]="PromotionModel.promotionCode" [style]="{'text-transform': 'uppercase'}">


                        </div>

                    </div>

                </div>
                <div class="col-3 pt-1" *ngIf="PromotionModel.promotionCategoryId==2">


                    <div class="p-field">
                        <label>{{'Vendor Code' | translate}}</label>
                        <div class="p-inputgroup">
                            <input type="text" pInputText [(ngModel)]="PromotionModel.vendorCode" [placeholder]="'Code'"
                                [disabled]="true">
                            <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                                (click)="choose_Vendor()"></button>
        
                        </div>
                    </div>

                </div>

                <div class="col-6 pt-1">
                    <div class="p-field">
                        <label style="width: 100%;">{{' Is Active' | translate}}</label>
                        <p-inputSwitch [disabled]="true" [(ngModel)]="PromotionModel.isActive"></p-inputSwitch>
                    </div>
                </div>      

                <div class="col-6 pt-1">
                    <div class="p-field">
                        <label>{{'Valid From' | translate}}</label>
                        <p-calendar dateFormat="dd/mm/yy" appendTo="body" inputId="time" [showTime]="true"
                            [showIcon]="true" [showSeconds]="true" [(ngModel)]="PromotionModel.validFrom">
                        </p-calendar>
                    </div>
                </div>

                <div class="col-6 pt-1">
                    <div class="p-field">
                        <label>{{'Valid To' | translate}}</label>
                        <p-calendar [disabled]="false" dateFormat="dd/mm/yy" appendTo="body" inputId="time"
                            [showTime]="true" [showIcon]="true" [showSeconds]="true"
                            [(ngModel)]="PromotionModel.validTo">
                        </p-calendar>
                    </div>
                </div>

                <div class="col-6 pt-1" *ngIf="PromotionModel.promotionCategoryId==2 || PromotionModel.promotionCategoryId==1">
                    <div class="p-field">
                        <label>{{'Condition Type' | translate}}</label>


                        <div class="p-inputgroup">

                          
                            <p-dropdown [options]="promotionTypes" [(ngModel)]="PromotionModel.promotionTypeId"
                                [selectId]="PromotionModel.promotionTypeId" (onChange)="onPromotionTypeChange($event)"
                                [filterMatchMode]="'contains'" [disabled]="PromotionModel.promotionId>0"
                                [editable]="false" [filterBy]="'code'" [optionLabel]="'code'" [optionValue]="'id'">
                            </p-dropdown>


                        </div>

                    </div>
                </div>
                <div class="col-6 pt-1" *ngIf="PromotionModel.promotionCategoryId==2 || PromotionModel.promotionCategoryId==1">
                    <div class="p-field">
                        <label>{{'Promotion Group' | translate}}</label>
                        <p-dropdown [options]="promotionGroups" [(ngModel)]="PromotionModel.promotionGroupId"
                            [selectId]="PromotionModel.promotionGroupId" [filterMatchMode]="'contains'"
                            [editable]="false" [filterBy]="'name'" [optionLabel]="'name'" [optionValue]="'id'">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-3 pt-1" *ngIf="PromotionModel.promotionCategoryId==2 || PromotionModel.promotionCategoryId==1">
                    <div class="p-field">
                        <label>{{'Priority' | translate}}</label>
                        <p-inputNumber [(ngModel)]="PromotionModel.priority" max="100" min="0" mode="decimal"
                            inputId="withoutgrouping" [useGrouping]="false">
                        </p-inputNumber>
                    </div>
                </div>
                <div class="col-3 pt-1" *ngIf="PromotionModel.promotionCategoryId==2 || PromotionModel.promotionCategoryId==1">
                    <div class="p-field">
                        <label>{{'Repeats For' | translate}}</label>
                        <div class="row">
                            <div class="col-3">
                                <p-inputNumber [(ngModel)]="PromotionModel.repeats" max="10000" min="0" mode="decimal"
                                    inputId="withoutgrouping" [useGrouping]="false">
                                </p-inputNumber>
                            </div>
                            <div class="col-9">
                                <p-dropdown [options]="repeatTypes" [(ngModel)]="PromotionModel.repeatTypeId"
                                    [selectId]="PromotionModel.repeatTypeId" [filterMatchMode]="'contains'"
                                    [editable]="false" [filterBy]="'name'" [optionLabel]="'name'" [optionValue]="'id'">
                                </p-dropdown>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-3 pt-1" *ngIf="PromotionModel.promotionCategoryId==2 || PromotionModel.promotionCategoryId==1">
                    <div class="p-field">
                        <label>{{'Color' | translate}}</label>
                        <p-dropdown [options]="promotionColors" [(ngModel)]="PromotionModel.color"
                            [selectId]="PromotionModel.color" [filterMatchMode]="'contains'" [editable]="false"
                            [filterBy]="'code'" [optionLabel]="'code'" [optionValue]="'code'">
                            <ng-template pTemplate="selectedItem">
                                <div class="d-flex justify-content-start" *ngIf="PromotionModel.color">
                                    <div
                                        [style]="'width: 20%;  height: 20px; background-color: #'+PromotionModel.color+';'">


                                    </div>
                                    <span class="pl-2"></span>
                                    <div style="width: 80%;  height: 20px;">

                                        {{PromotionModel.color}}
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-row pTemplate="item">
                                <div class="d-flex justify-content-start">
                                    <div [style]="'width: 20%;  height: 20px; background-color: #'+row.code+';'">


                                    </div>
                                    <span class="pl-2"></span>
                                    <div style="width: 80%;  height: 20px;">

                                        {{row.code}}
                                    </div>
                                </div>

                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="col-3 pt-1" *ngIf="PromotionModel.promotionCategoryId==2 || PromotionModel.promotionCategoryId==1">
                    <div class="p-field">
                        <label>{{'DisplayOrder' | translate}}</label>
                        <p-inputNumber [(ngModel)]="PromotionModel.displayOrder" max="100" min="0" mode="decimal"
                            inputId="withoutgrouping" [useGrouping]="false">
                        </p-inputNumber>
                    </div>
                </div>

                <div class="col-12 pt-1">
                    <div class="p-field">
                        <label>{{'Desc' | translate}}</label>
                        <textarea [(ngModel)]="PromotionModel.promotionDesc" rows="7" pInputTextarea></textarea>
                    </div>
                </div>

                <div class="col-12 pt-1">
                    <div class="p-field">

                        <label style="width: 100%;">{{'Enable Notification' | translate}}</label>
                        <p-inputSwitch [(ngModel)]="PromotionModel.enableNotification"
                            [disabled]="PromotionModel.promotionId>0"></p-inputSwitch>
                    </div>
                </div>



            </div>
            <div class="row pt-4" *ngIf="editMode!='v'">
                <div class="col-12">
                    <p-button [label]="'Save Promotion' | translate" icon="pi pi-save" [loading]="isPromotionLoading"
                        (onClick)="SavePromotion()">
                    </p-button>

                    <span class="pl-2"></span>

                </div>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel [header]="'Groups' | translate"  leftIcon="fa fa-th-large" [tooltip]="'Promotion Groups' | translate"
        *ngIf="PromotionModel.promotionId>0 && PromotionModel.promotionCategoryId!=4 && isMixAndMatch==true && isPromotionLoading==false && minimal==false">

        <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm" dataKey="groupId"
            [value]="PromotionMixGroupList" [(selection)]="PromotionMixGroupModel" sortField="groupId"
            [loading]="isGroupLoading" [showCurrentPageReport]="false" [paginator]="false" [rows]="1000" [lazy]="true"
            [totalRecords]="PromotionMixGroupList.length" responsiveLayout="scroll">


            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12" *ngIf="editMode!='v'">
                        <div class="d-flex justify-content-start">


                            <p-button icon="fa fa-plus" [pTooltip]="'New Line' | translate" (onClick)="addGroupLine()">
                            </p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-edit" [pTooltip]="'Edit Line' | translate" (onClick)="editGroupLine()"
                                *ngIf="PromotionMixGroupModel.groupId>0"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-times" [pTooltip]="'Delete Line' | translate"
                                (onClick)="deleteGroupLine()" *ngIf="PromotionMixGroupModel.groupId>0"></p-button>
                            <span class="pl-1"></span>


                        </div>
                    </div>

                </div>


            </ng-template>

            <ng-template pTemplate="header">
                <tr>



                    <th pSortableColumn="groupNo">{{'Group No' | translate}}
                        <p-sortIcon field="groupNo"></p-sortIcon>
                    </th>

                    <th pSortableColumn="slice">{{'Group Value' | translate}}
                        <p-sortIcon field="slice"></p-sortIcon>
                    </th>
                 
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pContextMenuRow]="row" [pSelectableRow]="row">

                    <td [innerHTML]="row.groupNo"></td>
                    <td [innerHTML]="row.slice"></td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">{{'No Data found' |translate}}</td>
                </tr>
            </ng-template>
        </p-table>

    </p-tabPanel>
    <p-tabPanel [header]="'Bundle Details' | translate"  leftIcon="fa fa-th-large" [tooltip]="'Bundle Details' | translate"
    *ngIf="PromotionModel.promotionId>0 && PromotionModel.promotionCategoryId==4 && minimal==false">

    <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm" dataKey="bundleId"
        [value]="PromotionItemBundleList" [(selection)]="PromotionItemBundleModel" sortField="bundleId"
        [loading]="isGroupLoading" [showCurrentPageReport]="false" [paginator]="false" [rows]="1000" [lazy]="true"
        [totalRecords]="PromotionItemBundleList.length" responsiveLayout="scroll">


        <ng-template pTemplate="caption">
            <div class="row">
                <div class="col-12" *ngIf="editMode!='v'">
                    <div class="d-flex justify-content-start">


                        <p-button icon="fa fa-plus" [pTooltip]="'New Line' | translate" (onClick)="addBundleLine()">
                        </p-button>
                        <span class="pl-1"></span>

                        <p-button icon="fa fa-edit" [pTooltip]="'Edit Line' | translate" (onClick)="editBundleLine()"
                            *ngIf="PromotionItemBundleModel.bundleId>0"></p-button>
                        <span class="pl-1"></span>

                        <p-button icon="fa fa-times" [pTooltip]="'Delete Line' | translate"
                            (onClick)="deleteBundleLine()" *ngIf="PromotionItemBundleModel.bundleId>0"></p-button>
                        <span class="pl-1"></span>


                    </div>
                </div>

            </div>


        </ng-template>

        <ng-template pTemplate="header">
            <tr>



                <th pSortableColumn="itemCode" [width]="'120px'">{{'Code' | translate}}
                    <p-sortIcon field="itemCode"></p-sortIcon>
                </th>

                <th pSortableColumn="itemName">{{'Product Name' | translate}}
                    <p-sortIcon field="itemName"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity" [width]="'100px'">{{'Quantity' | translate}}
                    <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="isMandatory" [width]="'120px'">{{'Mandatory' | translate}}
                    <p-sortIcon field="isMandatory"></p-sortIcon>
                </th>
             
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr [pContextMenuRow]="row" [pSelectableRow]="row">

                <td [innerHTML]="row.itemCode"></td>
                <td [innerHTML]="row.itemName"></td>
                <td [innerHTML]="row.quantity"></td>
                <td [innerHTML]="row.isMandatory"></td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">{{'No Data found' |translate}}</td>
            </tr>
        </ng-template>
    </p-table>

    </p-tabPanel>
    <p-tabPanel [header]="'Items Criteria' | translate" leftIcon="fa fa-shopping-cart" 
        [tooltip]="'Items Criteria' | translate" *ngIf="PromotionModel.promotionId>0 && PromotionModel.promotionCategoryId!=4 && isPromotionLoading==false && minimal==false">

        <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm" dataKey="criteriaId"
            [value]="PromotionCriteriaList" [(selection)]="PromotionCriteriaModel" sortField="criteriaId"
            [loading]="isCritriaItemLoading" [showCurrentPageReport]="false" [paginator]="false" [rows]="1000"
            [lazy]="true" [totalRecords]="PromotionCriteriaList.length" responsiveLayout="scroll">


            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12" *ngIf="editMode!='v'">
                        <div class="d-flex justify-content-start">


                            <p-button icon="fa fa-plus" [pTooltip]="'New Line' | translate"
                                (onClick)="addCritriaLine()"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-edit" [pTooltip]="'Edit Line' | translate"
                                (onClick)="editCritriaLine()" *ngIf="PromotionCriteriaModel.criteriaId>0"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-times" [pTooltip]="'Delete Line' | translate"
                                (onClick)="deleteCritriaLine()" *ngIf="PromotionCriteriaModel.criteriaId>0"></p-button>
                            <span class="pl-1"></span>


                        </div>
                    </div>

                </div>


            </ng-template>

            <ng-template pTemplate="header">
                <tr>


                    <th pSortableColumn="groupNo" [width]="'100px'" *ngIf="isMixAndMatch==true">{{'Group' | translate}}
                        <p-sortIcon field="groupNo"></p-sortIcon>
                    </th>

                    <th pSortableColumn="attributeCode" [width]="'170px'">{{'Attribute' | translate}}
                        <p-sortIcon field="attributeCode"></p-sortIcon>
                    </th>

                    <th pSortableColumn="valueFrom">{{'Value' | translate}}
                        <p-sortIcon field="valueFrom"></p-sortIcon>
                    </th>



                    <th pSortableColumn="excluded" [width]="'100px'">{{'Excluded' | translate}}
                        <p-sortIcon field="excluded"></p-sortIcon>
                    </th>

                 

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pContextMenuRow]="row" [pSelectableRow]="row">

                    <td [innerHTML]="row.groupNo" *ngIf="isMixAndMatch==true"></td>

                    <td [innerHTML]="row.attributeCode"></td>
                    <td [innerHTML]="row.valueFrom"></td>
                    <td>
                        <p-tag styleClass="mr-2" severity="success" [value]="'Yes'" *ngIf="row.excluded==true"></p-tag>
                        <p-tag severity="danger" [value]="'No'" *ngIf="row.excluded==false"></p-tag>
                    </td>
               

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">{{'No Data found' |translate}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>

    <p-tabPanel [header]="'Clients Criteria' | translate" leftIcon="fa fa-users" 
        [tooltip]="'Clients Criteria' | translate" *ngIf="PromotionModel.promotionId>0 && isPromotionLoading==false && minimal==false">
        <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm" dataKey="clientCriteriaId"
            [value]="PromtionCriteriaClientList" [(selection)]="PromtionCriteriaClientModel"
            [loading]="isCritriaClientLoading" sortField="clientCriteriaId" [showCurrentPageReport]="false"
            [paginator]="false" [rows]="1000" [lazy]="true" [totalRecords]="PromotionCriteriaList.length"
            responsiveLayout="scroll">


            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12" *ngIf="editMode!='v'">
                        <div class="d-flex justify-content-start">


                            <p-button icon="fa fa-plus" [pTooltip]="'New Line' | translate"
                                (onClick)="addCritriaClientLine()"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-edit" [pTooltip]="'Edit Line' | translate"
                                (onClick)="editCritriaClientLine()"
                                *ngIf="PromtionCriteriaClientModel.clientCriteriaId>0"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-times" [pTooltip]="'Delete Line' | translate"
                                (onClick)="deleteCritriaClientLine()"
                                *ngIf="PromtionCriteriaClientModel.clientCriteriaId>0"></p-button>
                            <span class="pl-1"></span>


                        </div>
                    </div>

                </div>


            </ng-template>

            <ng-template pTemplate="header">
                <tr>



                    <th pSortableColumn="clientAttributeCode" [width]="'170px'">{{'Attribute' | translate}}
                        <p-sortIcon field="clientAttributeCode"></p-sortIcon>
                    </th>

                    <th pSortableColumn="valueFrom">{{'Value' | translate}}
                        <p-sortIcon field="valueFrom"></p-sortIcon>
                    </th>



                    <th pSortableColumn="excluded" [width]="'100px'">{{'Excluded' | translate}}
                        <p-sortIcon field="excluded"></p-sortIcon>
                    </th>

                

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pContextMenuRow]="row" [pSelectableRow]="row">

                    <td [innerHTML]="row.clientAttributeCode"></td>
                    <td [innerHTML]="row.valueFrom"></td>

                    <td>
                        <p-tag styleClass="mr-2" severity="success" [value]="'Yes'" *ngIf="row.excluded==true"></p-tag>
                        <p-tag severity="danger" [value]="'No'" *ngIf="row.excluded==false"></p-tag>
                    </td>
                  

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">{{'No Data found' |translate}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>

    <p-tabPanel [header]="'SalesMan Criteria' | translate" leftIcon="fa fa-street-view"
        [tooltip]="'SalesMan Criteria' | translate" *ngIf="PromotionModel.promotionId>0 && isPromotionLoading==false && minimal==false">
        <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm" dataKey="salesManAttributeId"
            [value]="PromtionCriteriaSalesManList" [(selection)]="PromtionCriteriaSalesManModel"
            [loading]="isCritriaSalesManLoading" sortField="salesManAttributeId" [showCurrentPageReport]="false"
            [paginator]="false" [rows]="1000" [lazy]="true" [totalRecords]="PromotionCriteriaList.length"
            responsiveLayout="scroll">


            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12" *ngIf="editMode!='v'">
                        <div class="d-flex justify-content-start">


                            <p-button icon="fa fa-plus" [pTooltip]="'New Line' | translate"
                                (onClick)="addCritriaSalesManLine()"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-edit" [pTooltip]="'Edit Line' | translate"
                                (onClick)="editCritriaSalesManLine()"
                                *ngIf="PromtionCriteriaSalesManModel.salesManCriteriaId>0"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-times" [pTooltip]="'Delete Line' | translate"
                                (onClick)="deleteCritriaSalesManLine()"
                                *ngIf="PromtionCriteriaSalesManModel.salesManCriteriaId>0"></p-button>
                            <span class="pl-1"></span>


                        </div>
                    </div>

                </div>


            </ng-template>

            <ng-template pTemplate="header">
                <tr>



                    <th pSortableColumn="salesManAttributeCode" [width]="'170px'">{{'Attribute' | translate}}
                        <p-sortIcon field="salesManAttributeCode"></p-sortIcon>
                    </th>

                    <th pSortableColumn="valueFrom">{{'Value' | translate}}
                        <p-sortIcon field="valueFrom"></p-sortIcon>
                    </th>



                    <th pSortableColumn="excluded" [width]="'100px'">{{'Excluded' | translate}}
                        <p-sortIcon field="excluded"></p-sortIcon>
                    </th>

                 

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pContextMenuRow]="row" [pSelectableRow]="row">

                    <td [innerHTML]="row.salesManAttributeCode"></td>
                    <td [innerHTML]="row.valueFrom"></td>

                    <td>
                        <p-tag styleClass="mr-2" severity="success" [value]="'Yes'" *ngIf="row.excluded==true"></p-tag>
                        <p-tag severity="danger" [value]="'No'" *ngIf="row.excluded==false"></p-tag>
                    </td>
                  

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">{{'No Data found' |translate}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>

    <p-tabPanel [header]="'Outcome' | translate" leftIcon="fa fa-gift" [tooltip]="'Promotion Output' | translate"
        *ngIf="PromotionModel.promotionId>0 && PromotionModel.promotionCategoryId!=4 && isPromotionLoading==false">
        <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm" dataKey="outcomeId"
            [value]="PromotionOucomeList" [(selection)]="PromotionOutcomeModel" sortField="outcomeId"
            [loading]="isOutcomeLoading" [showCurrentPageReport]="false" [paginator]="false" [rows]="1000" [lazy]="true"
            [totalRecords]="PromotionOucomeList.length" responsiveLayout="scroll">


            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12" *ngIf="editMode!='v'">
                        <div class="d-flex justify-content-start">


                            <p-button icon="fa fa-plus" [pTooltip]="'New Line' | translate"
                                (onClick)="addOutcomeLine()"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-edit" [pTooltip]="'Edit Line' | translate"
                                (onClick)="editOutcomeLine()" *ngIf="PromotionOutcomeModel.outcomeId>0"></p-button>
                            <span class="pl-1"></span>

                            <p-button icon="fa fa-times" [pTooltip]="'Delete Line' | translate"
                                (onClick)="deleteOutcomeLine()" *ngIf="PromotionOutcomeModel.outcomeId>0"></p-button>
                            <span class="pl-1"></span>


                        </div>
                    </div>

                </div>


            </ng-template>

            <ng-template pTemplate="header">
                <tr>


                  
                    <th pSortableColumn="count" [width]="'100px'" *ngIf="inputId==3 || inputId==4 ">{{'Count' |
                        translate}}
                        <p-sortIcon field="count"></p-sortIcon>
                    </th>

                  



                    <th pSortableColumn="slice" *ngIf="isMixAndMatch==false">{{'Slice' | translate}}
                        <p-sortIcon field="slice"></p-sortIcon>
                    </th>



                    <th pSortableColumn="value">{{'output' | translate}}
                        <p-sortIcon field="value"></p-sortIcon>
                    </th>

                   

                    <th pSortableColumn="itemCode" [width]="'170px'" *ngIf="outputId==3 || outputId==4 ">{{'Item' |
                        translate}}
                        <p-sortIcon field="itemCode"></p-sortIcon>
                    </th>
                

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pContextMenuRow]="row" [pSelectableRow]="row">

                    <td [innerHTML]="row.count" *ngIf="inputId==3 || inputId==4 "></td>
                  
                    <td [innerHTML]="row.slice" *ngIf="isMixAndMatch==false"></td>
                    <td [innerHTML]="row.value"></td>
                    <td [innerHTML]="row.itemCode" *ngIf="outputId==3 || outputId==4 "></td>

                 

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="10">{{'No Data found' |translate}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>


<p-dialog [header]="'Promotion Criteria'" [draggable]="false" [(visible)]="showItemCriteria" [style]="{width: '400px'}">
    <div class="row p-fluid">


        <div class="col-12 pt-1" *ngIf="isMixAndMatch==true">
            <div class="p-field">
                <label>{{'Group' | translate}}</label>
                <p-dropdown [options]="PromotionMixGroupList" [(ngModel)]="PromotionCriteriaModel.groupId"
                    [selectId]="PromotionCriteriaModel.groupId" [filterMatchMode]="'contains'" [editable]="false"
                    [filterBy]="'groupNo'" [optionLabel]="'groupNo'" [optionValue]="'groupId'">


                    <ng-template let-row pTemplate="item">
                        <div class="d-flex justify-content-start">

                            <div>
                                <span>{{'Group ' | translate}} </span> {{row.groupNo }} <span> {{'Value ' | translate}}
                                </span>
                            </div>
                            <span class="pl-2"></span>
                            <div>
                                {{row.slice }}
                            </div>
                        </div>

                    </ng-template>

                </p-dropdown>
            </div>
        </div>

        <div class="col-12 pt-1">
            <div class="p-field">
                <label>{{'Attribute' | translate}}</label>
                <div class="p-inputgroup">
                    <button type="button" [disabled]="IsCustomAttr==false" pButton pRipple
                        [icon]="PromotionCriteriaModel.attributeId==0?'pi pi-plus':'pi pi-pencil'"
                        styleClass="p-button-warn" (click)="addCritriaAttr()" *ngIf="isMixAndMatch==true || PromotionModel.promotionCategoryId==3"></button>

                    <p-dropdown [options]="attributes" [(ngModel)]="PromotionCriteriaModel.attributeId"
                        [selectId]="PromotionCriteriaModel.attributeId" [filterMatchMode]="'contains'"
                        (onChange)="onAttrChange($event)" appendTo="body" [editable]="false" [filterBy]="'code'"
                        [optionLabel]="'code'" [optionValue]="'id'">
                    </p-dropdown>
                </div>
            </div>
        </div>



        <div class="col-12  pt-1" *ngIf="IsCustomAttr==false">
            <div class="p-field">
                <label>{{'Value' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="PromotionCriteriaModel.valueFrom" [placeholder]="'Code'"
                        [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                        (click)="choose_Item_Criteria()"></button>

                </div>
            </div>
        </div>


       
        <div class="col-12  pt-1">
            <div class="p-field">
                <label style="width: 100%;">{{'Excluded' | translate}}</label>
                <p-inputSwitch [(ngModel)]="PromotionCriteriaModel.excluded"></p-inputSwitch>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button [label]="'Save Criteria'" (click)="saveItemCriteria()" icon="pi pi-check"
            [loading]="isCritriaItemLoading" styleClass="p-button-sm">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog [header]="'Promotion Outcome'" [draggable]="false" [(visible)]="showOutcome" [style]="{width: '400px'}">
    <div class="row p-fluid">

        <div class="col-12 pt-1" *ngIf="isMixAndMatch==false">
            <div class="p-field">
                <label>{{'Slice' | translate}}</label>
                <p-inputNumber mode="decimal" [(ngModel)]="PromotionOutcomeModel.slice" inputId="withoutgrouping"
                    [useGrouping]="false">
                </p-inputNumber>
            </div>
        </div>

        <div class="col-12 pt-1" *ngIf="isMixAndMatch==true">
            <div class="p-field">
                <label>{{'Count' | translate}}</label>
                <p-inputNumber mode="decimal" [(ngModel)]="PromotionOutcomeModel.count" inputId="withoutgrouping"
                    [useGrouping]="false">
                </p-inputNumber>
            </div>
        </div>
        
        <div class="col-12 pt-1">
            <div class="p-field">
                <label>{{'Output' | translate}}</label>


                <p-inputNumber [(ngModel)]="PromotionOutcomeModel.value" inputId="minmaxfraction" mode="decimal"
                    [minFractionDigits]="0" [maxFractionDigits]="5">
                </p-inputNumber>
            </div>
        </div>

        <div class="col-12  pt-1" *ngIf="outputId==3 || outputId==4">
            <div class="p-field">
                <label>{{'Of Item Code' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="PromotionOutcomeModel.itemCode" [placeholder]="'Code'"
                        [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                        
                        (click)="choose_Item_Outcome()"></button>

                </div>
            </div>
        </div>
      

    </div>
    <ng-template pTemplate="footer">
        <p-button [label]="'Save Outcome'" (click)="saveOutcome()" icon="pi pi-check" [loading]="isOutcomeLoading"
            styleClass="p-button-sm">
        </p-button>
    </ng-template>
</p-dialog>


<p-dialog [header]="'Clients Criteria'" [draggable]="false" [(visible)]="showClientCriteria" [style]="{width: '400px'}">
    <div class="row p-fluid">

        <div class="col-12 pt-1">
            <div class="p-field">
                <label>{{'Attribute' | translate}}</label>
                <div class="p-inputgroup">
                    <button type="button" [disabled]="IsCustomClientAttr==false" pButton pRipple
                        [icon]="PromtionCriteriaClientModel.clientAttributeId==0?'pi pi-plus':'pi pi-pencil'"
                        styleClass="p-button-warn" (click)="addClientAttr()"></button>
                    <p-dropdown [options]="attributesClient" [(ngModel)]="PromtionCriteriaClientModel.clientAttributeId"
                        (onChange)="onClientAttrChange($event)" appendTo="body"
                        [selectId]="PromtionCriteriaClientModel.clientAttributeId" [filterMatchMode]="'contains'"
                        [editable]="false" [filterBy]="'code'" [optionLabel]="'code'" [optionValue]="'id'">
                    </p-dropdown>
                </div>
            </div>
        </div>




        <div class="col-12  pt-1" *ngIf="IsCustomClientAttr==false">
            <div class="p-field">
                <label>{{'Value' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="PromtionCriteriaClientModel.valueFrom"
                        [placeholder]="'Code'" [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                        (click)="choose_Client_Criteria()"></button>

                </div>
            </div>
        </div>


      
        <div class="col-12  pt-1">
            <div class="p-field">
                <label style="width: 100%;">{{'Excluded' | translate}}</label>
                <p-inputSwitch [(ngModel)]="PromtionCriteriaClientModel.excluded"></p-inputSwitch>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button [label]="'Save Clients'" (click)="saveClientCriteria()" icon="pi pi-check"
            [loading]="isCritriaClientLoading" styleClass="p-button-sm">
        </p-button>
    </ng-template>
</p-dialog>


<p-dialog [header]="'Groups'" [draggable]="false" [(visible)]="showGroup" [style]="{width: '400px'}">
    <div class="row p-fluid">



        <div class="col-12 pt-1">
            <div class="p-field">
                <label>{{'Group No' | translate}}</label>
                <p-inputNumber mode="decimal" [disabled]="true" [(ngModel)]="PromotionMixGroupModel.groupNo"
                    inputId="withoutgrouping" [useGrouping]="false">
                </p-inputNumber>
            </div>
        </div>

        <div class="col-12 pt-1">
            <div class="p-field">
                <label>{{'Group Value' | translate}}</label>
                <p-inputNumber mode="decimal" [(ngModel)]="PromotionMixGroupModel.slice" inputId="withoutgrouping"
                    [useGrouping]="false">
                </p-inputNumber>
            </div>
        </div>


    </div>
    <ng-template pTemplate="footer">
        <p-button [label]="'Save Group'" (click)="saveGroup()" icon="pi pi-check" [loading]="isGroupLoading"
            styleClass="p-button-sm">
        </p-button>
    </ng-template>
</p-dialog>




<p-dialog [header]="'SalesMan Criteria'" [draggable]="false" [(visible)]="showSalesManCriteria"
    [style]="{width: '400px'}">
    <div class="row p-fluid">

        <div class="col-12 pt-1">
            <div class="p-field">
                <label>{{'Attribute' | translate}}</label>
                <div class="p-inputgroup">
                    <button type="button" [disabled]="IsCustomSalesManAttr==false" pButton pRipple
                        [icon]="PromtionCriteriaSalesManModel.salesManAttributeId==0?'pi pi-plus':'pi pi-pencil'"
                        styleClass="p-button-warn" (click)="addSalesManAttr()"></button>
                    <p-dropdown [options]="attributesSalesMan"
                        [(ngModel)]="PromtionCriteriaSalesManModel.salesManAttributeId"
                        (onChange)="onSalesManAttrChange($event)" appendTo="body"
                        [selectId]="PromtionCriteriaSalesManModel.salesManAttributeId" [filterMatchMode]="'contains'"
                        [editable]="false" [filterBy]="'code'" [optionLabel]="'code'" [optionValue]="'id'">
                    </p-dropdown>
                </div>
            </div>
        </div>




        <div class="col-12  pt-1" *ngIf="IsCustomSalesManAttr==false">
            <div class="p-field">
                <label>{{'Value' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="PromtionCriteriaSalesManModel.valueFrom"
                        [placeholder]="'Code'" [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                        (click)="choose_SalesMan_Criteria()"></button>

                </div>
            </div>
        </div>


      
        <div class="col-12  pt-1">
            <div class="p-field">
                <label style="width: 100%;">{{'Excluded' | translate}}</label>
                <p-inputSwitch [(ngModel)]="PromtionCriteriaSalesManModel.excluded"></p-inputSwitch>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button [label]="'Save SalesMans'" (click)="saveSalesManCriteria()" icon="pi pi-check"
            [loading]="isCritriaSalesManLoading" styleClass="p-button-sm">
        </p-button>
    </ng-template>
</p-dialog>


<p-dialog [header]="'Bundle Items'" [draggable]="false" [(visible)]="showBundle" [style]="{width: '400px'}">
    <div class="row p-fluid">



        
        <div class="col-12  pt-1" >
            <div class="p-field">
                <label>{{'Item Code' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="PromotionItemBundleModel.itemCode" [placeholder]="'Code'"
                        [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                       
                        (click)="choose_Item_Bundle()"></button>

                </div>
            </div>
        </div>

        <div class="col-12 pt-1">
            <div class="p-field">
                <label>{{'Quantity' | translate}}</label>
                <p-inputNumber mode="decimal" [(ngModel)]="PromotionItemBundleModel.quantity" inputId="withoutgrouping"
                    [useGrouping]="false">
                </p-inputNumber>
            </div>
        </div>


        <div class="col-12  pt-1">
            <div class="p-field">
                <label style="width: 100%;">{{'Mandatory' | translate}}</label>
                <p-inputSwitch [(ngModel)]="PromotionItemBundleModel.isMandatory"></p-inputSwitch>
            </div>
        </div>

       


      

    </div>
    <ng-template pTemplate="footer">
        <p-button [label]="'Save Item'" (click)="saveBundle()" icon="pi pi-check" [loading]="isBundleLoading"
            styleClass="p-button-sm">
        </p-button>
    </ng-template>
</p-dialog>
</div>