<div class="row" *ngIf="isLoading">

    <div class="col-md-12">
        <div class="row" style="height: 500px;">
            <div class="col-12 text-center">
                <app-loader></app-loader>
            </div>
        </div>
    </div>

</div>

<div class="row p-fluid" *ngIf="!isLoading">



    <div class="col-12  pt-1">
        <div class="p-field">
            <label>{{'Type Code' | translate}}</label>

            <input type="text" pInputText [(ngModel)]="model.clientTypeCode" >
        </div>
    </div>

    <div class="col-12  pt-1">
        <div class="p-field">
            <label>{{'English Name' | translate}}</label>

            <input type="text" pInputText [(ngModel)]="model.clientTypeNameEn" >
        </div>
    </div>

    <div class="col-12  pt-1">
        <div class="p-field">
            <label>{{'Arabic Name' | translate}}</label>
            <input type="text" pInputText [(ngModel)]="model.clientTypeNameAr">

        </div>
    </div>


    <div class="col-12  pt-1">
        <div class="p-field">
            <label style="width: 100%;">{{'Is Active' | translate}}</label>
            <p-inputSwitch [(ngModel)]="model.isActive"></p-inputSwitch>
        </div>
    </div>



    <div class="col-12  pt-1">
        <div class="p-field">
            <label style="width: 100%;">{{'Notes' | translate}}</label>
            <textarea [rows]="9" [(ngModel)]="model.notes" pInputTextarea [autoResize]="false"></textarea>
        </div>
    </div>



</div>
<div class="row pt-2" *ngIf="!isLoading">
    <div class="col-12  pt-1">
        <p-button [label]="'Save' | translate" icon="pi pi-save" [loading]="isLoading" (onClick)="Save()">
        </p-button>
    </div>
</div>