<p-contextMenu #cm [model]="menuItems" appendTo="body"></p-contextMenu>

<div class="page" [ngClass]="{'page': isPopup==false}">
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="row p-fluid" *ngIf="salesId==0">
                        <div class="col-12">

                            <div class="p-inputgroup">

                                <div class="p-inputgroup">
                                    <input type="text" [(ngModel)]="searchModel.Term" (keydown)="smartFilter($event)"
                                        pInputText [placeholder]="'Promotion Code' | translate">

                                    <button type="button" pButton pRipple icon="pi pi-filter"
                                        (click)="advanced=!advanced" styleClass="p-button-warn"
                                        *ngIf="showFilter"></button>

                                    <button type="button" pButton pRipple icon="pi pi-refresh" (click)="reloadFilter()"
                                        styleClass="p-button-warn"></button>

                                    <button type="button" pButton pRipple icon="pi pi-download"
                                        (click)="manage('download')" styleClass="p-button-warn"></button>


                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="row p-fluid">

                        <div class="col-12" #pg>
                            <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm"
                                dataKey="lineId" [value]="gridModel.data" [(selection)]="selected"
                                sortField="lineId" sortOrder="desc" (selectionChange)="onSelectionChange($event)"
                                [(contextMenuSelection)]="selected" [contextMenu]="cm"
                                [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries' |translate"
                                [showCurrentPageReport]="true" [lazy]="true" (onLazyLoad)="filter($event)"
                                [paginator]="true" [rows]="searchModel.Take" [(first)]="first"
                                [totalRecords]="gridModel.total" [loading]="isLoading" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr *ngIf="salesId==0">
                                        <th pSortableColumn="clientCode" [width]="'120px'">{{'Client Code' | translate}}
                                            <p-sortIcon field="clientCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="clientName">{{'Client Name' | translate}}<p-sortIcon
                                                field="clientName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="vendorCode" [width]="'120px'">{{'Vendor Code' | translate}}
                                            <p-sortIcon field="itemCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="itemCode" [width]="'120px'">{{'Item Code' | translate}}
                                            <p-sortIcon field="itemCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="itemName">{{'Item Name' | translate}}<p-sortIcon
                                                field="itemName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="batchNo" [width]="'120px'">{{'Batch' | translate}}
                                            <p-sortIcon field="batchNo"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="invoiceDate" [width]="'120px'">{{'Invoice Date' |
                                            translate}}<p-sortIcon field="invoiceDate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="invoiceCode" [width]="'120px'">{{'Invoice Code' |
                                            translate}}<p-sortIcon field="invoiceCode"></p-sortIcon>
                                        </th>


                                        <th pSortableColumn="outcome" [width]="'100px'">{{'Outcome' | translate}}
                                            <p-sortIcon field="outcome"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="outcomeType" [width]="'90px'">{{'Type' | translate}}
                                            <p-sortIcon field="outcomeType"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="promotionCode" >{{'Promotion' | translate}}
                                            <p-sortIcon field="promotionCode"></p-sortIcon>
                                        </th>

                                    </tr>
                                    <tr *ngIf="salesId>0">
                                      
                                        <th pSortableColumn="vendorCode" [width]="'120px'">{{'Vendor Code' | translate}}
                                            <p-sortIcon field="itemCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="itemCode" [width]="'120px'">{{'Item Code' | translate}}
                                            <p-sortIcon field="itemCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="itemName">{{'Item Name' | translate}}<p-sortIcon
                                                field="itemName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="batchNo" [width]="'120px'">{{'Batch' | translate}}
                                            <p-sortIcon field="batchNo"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="outcome" [width]="'100px'">{{'Outcome' | translate}}
                                            <p-sortIcon field="outcome"></p-sortIcon>
                                        </th>
                                        
                                        <th pSortableColumn="outcomeType" [width]="'90px'">{{'Type' | translate}}
                                            <p-sortIcon field="outcomeType"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="promotionCode" >{{'Promotion' | translate}}
                                            <p-sortIcon field="promotionCode"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-order>
                                    <tr *ngIf="salesId==0" [pContextMenuRow]="order" [pSelectableRow]="order" [pContextMenuRow]="order">

                                        <td [innerHTML]="order.clientCode | highlightSearch: searchModel.Term"> </td>
                                        <td [innerHTML]="order.clientName | highlightSearch: searchModel.Term"> </td>

                                        <td [innerHTML]="order.vendorCode | highlightSearch: searchModel.Term"> </td>

                                        <td [innerHTML]="order.itemCode | highlightSearch: searchModel.Term"> </td>
                                        <td [innerHTML]="order.itemName | highlightSearch: searchModel.Term"> </td>
                                        <td [innerHTML]="order.batchNo | highlightSearch: searchModel.Term"> </td>

                                        <td [innerHTML]="order.invoiceCode | highlightSearch: searchModel.Term"> </td>
                                        <td
                                            [innerHTML]="order.invoiceDate | date:'yyyy-MM-dd' | highlightSearch: searchModel.Term">
                                        </td>


                                        <td [innerHTML]="order.outcome | highlightSearch: searchModel.Term"> </td>
                                        <td>
                                            <p-tag severity="success" [value]="'Free' | translate"
                                                *ngIf="order.outcomeType==1"></p-tag>

                                            <p-tag severity="danger" [value]="'Discount' | translate"
                                                *ngIf="order.outcomeType==2"></p-tag>

                                        </td>
                                        <td [innerHTML]="order.promotionCode | highlightSearch: searchModel.Term"> </td>




                                    </tr>
                                    <tr *ngIf="salesId>0" [pContextMenuRow]="order" [pSelectableRow]="order" [pContextMenuRow]="order">

                                    

                                        <td [innerHTML]="order.vendorCode | highlightSearch: searchModel.Term"> </td>

                                        <td [innerHTML]="order.itemCode | highlightSearch: searchModel.Term"> </td>
                                        <td [innerHTML]="order.itemName | highlightSearch: searchModel.Term"> </td>
                                        <td [innerHTML]="order.batchNo | highlightSearch: searchModel.Term"> </td>

                                       

                                        <td [innerHTML]="order.outcome | highlightSearch: searchModel.Term"> </td>
                                        <td>
                                            <p-tag severity="success" [value]="'Free' | translate"
                                                *ngIf="order.outcomeType==1"></p-tag>

                                            <p-tag severity="danger" [value]="'Discount' | translate"
                                                *ngIf="order.outcomeType==2"></p-tag>

                                        </td>
                                        <td [innerHTML]="order.promotionCode | highlightSearch: searchModel.Term"> </td>




                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="12">{{'No Data found' |translate}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog [header]="'Filter' |translate" [modal]="false" [draggable]="true" [style]="{width: '300px'}"
    [(visible)]="advanced" position="right" [contentStyle]="{'overflow':'visible'}">
    <div class="row p-fluid scrollall" style="overflow-y: auto;">

        <div class="col-12  pt-1">
            <div class="p-field">
                <label style="width: 100%;">{{'Type' | translate}}</label>
                <p-dropdown [options]="Types" [disabled]="false" [filter]="false" styleClass="width: 100%;"
                    [(ngModel)]="searchModel.outcomeType" [selectId]="searchModel.outcomeType"
                    [filterMatchMode]="'contains'" [editable]="false" [filterBy]="'name'" [optionLabel]="'name'"
                    [optionValue]="'id'">
                </p-dropdown>
            </div>
        </div>

        <div class="col-6  pt-1">
            <div class="p-field">
                <label>{{'From' | translate}}</label>
                <p-calendar dateFormat="dd/mm/yy" appendTo="body" inputId="time" [showTime]="true" [showSeconds]="false"
                    [(ngModel)]="searchModel.from">
                </p-calendar>
            </div>
        </div>
        <div class="col-6  pt-1">
            <div class="p-field">
                <label>{{'To' | translate}}</label>
                <p-calendar dateFormat="dd/mm/yy" appendTo="body" inputId="time" [showTime]="true" [showSeconds]="false"
                    [(ngModel)]="searchModel.to">
                </p-calendar>
            </div>
        </div>

        <div class="col-12  pt-1">
            <div class="p-field">
                <label>{{'Branch' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="searchModel.branchCode" [placeholder]="'Branch Code'"
                        [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                        (click)="choose_Branch()" *ngIf="searchModel.branchId==0"></button>
                    <button type="button" pButton pRipple icon="pi pi-times" class="p-button-danger"
                        (click)="clear_Branch()" *ngIf="searchModel.branchId>0"></button>
                </div>
            </div>
        </div>


        <div class="col-12  pt-1">
            <div class="p-field">
                <label>{{'Client' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="searchModel.clientCode" [placeholder]="'Client Code'"
                        [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                        (click)="choose_Client()" *ngIf="searchModel.clientId==0"></button>
                    <button type="button" pButton pRipple icon="pi pi-times" class="p-button-danger"
                        (click)="clear_Client()" *ngIf="searchModel.clientId>0"></button>
                </div>
            </div>
        </div>

        <div class="col-12  pt-1">
            <div class="p-field">
                <label>{{'Vendor' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="searchModel.vendorCode" [placeholder]="'Vendor Code'"
                        [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                        (click)="choose_Vendor()" *ngIf="searchModel.vendorId==0"></button>
                    <button type="button" pButton pRipple icon="pi pi-times" class="p-button-danger"
                        (click)="clear_Vendor()" *ngIf="searchModel.vendorId>0"></button>
                </div>
            </div>
        </div>
        <div class="col-12  pt-1">
            <div class="p-field">
                <label>{{'Item' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="searchModel.itemCode" [placeholder]="'Item Code'"
                        [disabled]="true">
                    <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                        (click)="choose_Item()" *ngIf="searchModel.itemId==0"></button>
                    <button type="button" pButton pRipple icon="pi pi-times" class="p-button-danger"
                        (click)="clear_Item()" *ngIf="searchModel.itemId>0"></button>
                </div>
            </div>
        </div>

        <div class="col-12  pt-1">
            <div class="p-field">
                <label>{{'Batch' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="searchModel.batchNo"
                        [placeholder]="'Batch No'" >
                  
                </div>
            </div>
        </div>
        <div class="col-12  pt-1">
            <div class="p-field">
                <label>{{'Invoice' | translate}}</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="searchModel.invoiceCode"
                        [placeholder]="'Invoice Code'" >
                  
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" icon="pi pi-filter-slash" (click)="clearFilter()"
            class="p-button-rounded p-button-text p-button-plain"></button>
        <p-button [label]="'Filter' | translate" icon="pi pi-search" (onClick)="advancedFilter()"
            styleClass="p-button-sm"></p-button>
    </ng-template>

</p-dialog>