<p-tieredMenu #menu [model]="menuItems" [popup]="true"></p-tieredMenu>

<div class="page">
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="row p-fluid" *ngIf="!isLoading">

                        <div class="col-12">

                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                
                                <input type="text" [(ngModel)]="searchModel.Term" (keydown)="smartFilter($event)"
                                    pInputText [placeholder]="'Client Code' | translate">
                                <button type="button" pButton pRipple icon="pi pi-filter" (click)="advanced=!advanced"
                                    styleClass="p-button-warn"></button>
                                <button type="button" pButton pRipple icon="pi pi-refresh" (click)="reloadFilter()"
                                    styleClass="p-button-warn"></button>
                                <button #btn type="button" pButton icon="pi pi-fw pi-list" label="Actions" (click)="menu.toggle($event)"></button>

                            </div>
                            
                        </div>


                    </div>
                    <div class="row p-fluid">

                        <div class="col-12">
                            <p-table selectionMode="single" styleClass="p-datatable-gridlines p-datatable-sm"
                                dataKey="scanId" 
                                [value]="gridModel.data"
                                [(selection)]="selected"
                                dataKey="planId"
                                sortField="clientId"
                                (selectionChange)="onSelectionChange($event)"
                                [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries' |translate"
                                [showCurrentPageReport]="true" 
                                [lazy]="true" 
                                (onLazyLoad)="filter($event)"
                                [paginator]="true" 
                                [rows]="searchModel.Take" 
                                [(first)]="first"
                                [totalRecords]="gridModel.total" 
                                [loading]="isLoading" 
                                responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>

                                        <th pSortableColumn="clientCode" [width]="'100px'" >{{'Client' | translate}}
                                            <p-sortIcon field="clientCode"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="clientName" >{{'Client Name' | translate}}
                                            <p-sortIcon field="clientName"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="clientGroupName" [width]="'150px'">{{'Channel' | translate}}
                                            <p-sortIcon field="clientGroupName"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="targetDate" [width]="'150px'" >{{'Date' | translate}}
                                            <p-sortIcon field="targetDate"></p-sortIcon>
                                        </th>

                                        

                                        <th pSortableColumn="targetValue" [width]="'100px'">{{'Value' | translate}}
                                            <p-sortIcon field="targetValue"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="targetVisit" [width]="'100px'">{{'Visits' | translate}}
                                            <p-sortIcon field="targetVisit"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="targetCall" [width]="'100px'">{{'Calls' | translate}}
                                            <p-sortIcon field="targetCall"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>

                               

                                <ng-template pTemplate="body" let-order let-rowgroup="rowgroup" let-rowspan="rowspan">
                                    <tr [pContextMenuRow]="order" [pSelectableRow]="order" (dblclick)="Manage('edit')">

                                        <td [innerHTML]="order.clientCode | highlightSearch: searchModel.Term"></td>
                                        <td [innerHTML]="order.clientName | highlightSearch: searchModel.Term"></td>
                                        <td [innerHTML]="order.clientGroupName | highlightSearch: searchModel.Term"></td>
                                        

                                        <td [innerHTML]="order.targetDate | date:'yyyy-MM-dd' | highlightSearch: searchModel.Term"></td>

                                        <td [innerHTML]="order.targetValue | number | highlightSearch: searchModel.Term"></td>
                                        <td [innerHTML]="order.targetVisit | highlightSearch: searchModel.Term"></td>
                                        <td [innerHTML]="order.targetCall | highlightSearch: searchModel.Term"></td>

                                      
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="8">{{'No Data found' |translate}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </div>

                    <p-dialog [header]="'Filter' |translate" [modal]="false" [draggable]="true"
                        [style]="{width: '300px'}" [(visible)]="advanced" position="right"
                        [contentStyle]="{'overflow':'visible'}">


                        <div class="row p-fluid">


                            <div class="col-12 ">
                                <div class="p-field">
                                    <label>{{'From Date' | translate}}</label>
                                    <p-calendar dateFormat="dd/mm/yy" appendTo="body" inputId="time" [showTime]="true"
                                        [showSeconds]="true" [(ngModel)]="searchModel.fromDate">
                                    </p-calendar>
                                </div>
                            </div>
    
                    
                            <div class="col-12 ">
                                <div class="p-field">
                                    <label>{{'To Date' | translate}}</label>
                                    <p-calendar dateFormat="dd/mm/yy" appendTo="body" inputId="time" [showTime]="true"
                                        [showSeconds]="true" [(ngModel)]="searchModel.toDate">
                                    </p-calendar>
                                </div>
                            </div>
    

                            <div class="col-12  pt-1">
                                <div class="p-field">
                                    <label>{{'Branch' | translate}}</label>
                                    <div class="p-inputgroup">
                                        <input type="text" pInputText [(ngModel)]="searchModel.branchCode"
                                            [placeholder]="'Branch Code'" [disabled]="true">
                                        <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                                            (click)="choose_Branch()" *ngIf="searchModel.branchId==0"></button>
                                        <button type="button" pButton pRipple icon="pi pi-times" class="p-button-danger"
                                            (click)="clear_Branch()" *ngIf="searchModel.branchId>0"></button>
                                    </div>
                                </div>
                            </div>
                    
                          
                    
                          
                    
                            <div class="col-12  pt-1">
                                <div class="p-field">
                                    <label>{{'Client' | translate}}</label>
                                    <div class="p-inputgroup">
                                        <input type="text" pInputText [(ngModel)]="searchModel.clientCode"
                                            [placeholder]="'Client Code'" [disabled]="true">
                                        <button type="button" pButton pRipple icon="pi pi-angle-down" class="p-button-warn"
                                            (click)="choose_Client()" *ngIf="searchModel.clientId==0"></button>
                                        <button type="button" pButton pRipple icon="pi pi-times" class="p-button-danger"
                                            (click)="clear_Client()" *ngIf="searchModel.clientId>0"></button>
                                    </div>
                                </div>
                            </div>
                    
                           

                        </div>

                        <ng-template pTemplate="footer">
                            <button pButton pRipple type="button" icon="pi pi-filter-slash" (click)="clearFilter()"
                                class="p-button-rounded p-button-text p-button-plain"></button>
                            <p-button [label]="'Filter' | translate" icon="pi pi-search" (onClick)="advancedFilter()"
                                styleClass="p-button-sm"></p-button>
                        </ng-template>

                    </p-dialog>
                </div>
            </div>
        </div>
    </div>
</div>