/* Add this to your global styles or component styles */


/* All Pages Scroll */
::-webkit-scrollbar {
  width: 12px;
  scrollbar-width: auto;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
/* ---------------------------------- */
/* .chooser-batch-comp */
.chooser-batch-comp {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin; 
}
.chooser-batch-comp::-webkit-scrollbar {
  width: 12px;
}
.chooser-batch-comp::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.chooser-batch-comp::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.chooser-batch-comp::-webkit-scrollbar-track {
  background-color: #ddd; 
}


/* ---------------------------------- */
/* .manage-branch-comp */
.manage-branch-comp {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin; 
}
.manage-branch-comp::-webkit-scrollbar {
  width: 12px;
}
.manage-branch-comp::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.manage-branch-comp::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.manage-branch-comp::-webkit-scrollbar-track {
  background-color: #ddd; 
}
/* ---------------------------------- */
/* .chooser-branch-comp */
.chooser-branch-comp {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin; 
}
.chooser-branch-comp::-webkit-scrollbar {
  width: 12px;
}
.chooser-branch-comp::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.chooser-branch-comp::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.chooser-branch-comp::-webkit-scrollbar-track {
  background-color: #ddd; 
}
/* ---------------------------------- */
/* .chooser-vendor-comp */
.chooser-vendor-comp {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin; 
}
.chooser-vendor-comp::-webkit-scrollbar {
  width: 12px;
}
.chooser-vendor-comp::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.chooser-vendor-comp::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.chooser-vendor-comp::-webkit-scrollbar-track {
  background-color: #ddd; 
}




/* ---------------------------------- */
/* ..chooser-supervisor-comp */
.chooser-supervisor-comp {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin; 
}
.chooser-supervisor-comp::-webkit-scrollbar {
  width: 12px;
}
.chooser-supervisor-comp::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.chooser-supervisor-comp::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.chooser-supervisor-comp::-webkit-scrollbar-track {
  background-color: #ddd; 
}
/* ----------------------------------------- */
/* edit-promotion */
.edit-promotion {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}
.edit-promotion::-webkit-scrollbar {
  width: 12px;
}
.edit-promotion::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.edit-promotion::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.edit-promotion::-webkit-scrollbar-track {
  background-color: #ddd; 
}
/* ----------------------------------------- */
/* manage-return-valid */
.manage-return-valid {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}
.manage-return-valid::-webkit-scrollbar {
  width: 12px;
}
.manage-return-valid::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.manage-return-valid::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
.manage-return-valid::-webkit-scrollbar-track {
  background-color: #ddd; 
}
/* ---------------------------------- */
/* .branches-comp */
.branches-comp {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin; 
}
.branches-comp::-webkit-scrollbar {
  width: 12px;
}
.branches-comp::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.branches-comp::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.branches-comp::-webkit-scrollbar-track {
  background-color: #ddd; 
}
/* ---------------------------------- */
/* supervisors */
.supervisors {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin; 
}
.supervisors::-webkit-scrollbar {
  width: 12px;
}
.supervisors::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.supervisors::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
.supervisors::-webkit-scrollbar-track {
  background-color: #ddd; 
}
/* ---------------------------------- */
/* manage-sales-order */
.manage-sales-order {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}
.manage-sales-order::-webkit-scrollbar {
  width: 12px;
}
.manage-sales-order::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.manage-sales-order::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
.manage-sales-order::-webkit-scrollbar-track {
  background-color: #ddd; 
}
/* ---------------------------------------- */
/* Sidebar Scrollbar */
.custom-scrollbar {
  max-height: 100%; 
  width: auto;
  overflow-y: auto;
  scrollbar-width: thin; 
}
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888
}