.Low{
    color: red;
}
.Medium{
    color: orange;
}
.Normal{
    color: lightskyblue;
}
.High{
    color: green;
}
.Premium{
    color: rgb(110, 97, 62);
}

.Low-bg{
    background-color: red !important;
}
.Medium-bg{
    background-color: orange !important;
}
.Normal-bg{
    background-color: lightskyblue !important;
}
.High-bg{
    background-color: green !important;
}
.Premium-bg{
    background-color: rgb(110, 97, 62) !important;
}