.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: gainsboro;
    border-color: gainsboro;
}

.otp-input {
    width: 40px !important;
    height: 40px !important;
}