.map-summery {
    background-color: black;
    color: white !important;
    opacity: 0.6;
    position: absolute;
    z-index: 9;
    left: 30%;
    top: 10px;
    border-radius: 5px;
    height: 70px;
    width: 40%;
}

.map-summery-details {
    position: absolute;
    z-index: 10;
    border-radius: 5px;
}

.Low{
    color: red;
}
.Medium{
    color: orange;
}
.Normal{
    color: lightskyblue;
}
.High{
    color: green;
}
.Premium{
    color: rgb(110, 97, 62);
}