<div class="row manage-branch-comp" *ngIf="isLoading">

    <div class="col-md-12">
        <div class="row" style="height: 500px;">
            <div class="col-12 text-center">
                <app-loader></app-loader>
            </div>
        </div>
    </div>

</div>

<div class="row p-fluid" *ngIf="!isLoading">


  

    <div class="col-12 pt-1">
        <div class="p-field">
            <label>{{'Branch Code' | translate}}</label>
            <input type="text" pInputText [(ngModel)]="model.branchCode"> 
        </div>
    </div>

    <div class="col-12 pt-1">
        <div class="p-field">
            <label>{{'Branch Name (English)' | translate}}</label>
            <input type="text" pInputText [(ngModel)]="model.branchNameEn"> 
        </div>
    </div>
    <div class="col-12 pt-1">
        <div class="p-field">
            <label>{{'Branch Name (Arabic)' | translate}}</label>
            <input type="text" pInputText [(ngModel)]="model.branchNameAr"> 
        </div>
    </div>

    <div class="col-12 pt-1">
        <div class="p-field ">
            <label>{{'Expense rate' | translate}}</label>
            <p-inputNumber [(ngModel)]="model.expenseRate" max="100" min="0"  mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
            </p-inputNumber>
        </div>
    </div>

    <div class="col-12 pt-1">
        <div class="p-field">
            <label style="width: 100%;">{{'Active' | translate}}</label>
            <p-inputSwitch [(ngModel)]="model.isActive"></p-inputSwitch>
        </div>
    </div>


    <div class="col-6 pt-1">
        <div class="p-field">
            <label>{{'Latitude' | translate}}</label>
            <p-inputNumber [(ngModel)]="model.latitude"  mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
            </p-inputNumber>
        </div>
    </div>

    <div class="col-6 pt-1">
        <div class="p-field">
            <label>{{'Longitude' | translate}}</label>
            <p-inputNumber [(ngModel)]="model.longitude"  inputId="withoutgrouping" [useGrouping]="false">
            </p-inputNumber>
        </div>
    </div>

</div>

<div class="row pt-5" *ngIf="!isLoading">
    <div class="col-12  pt-1">
        <p-button [label]="'Save' | translate"  icon="pi pi-save"
            [loading]="isLoading" (onClick)="save()">
        </p-button>
    </div>
</div>